/* App.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.notes-container {
  margin-bottom: 20px;
}

.add-note-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-input {
  flex: 1; /* Take up remaining space */
  margin-right: 10px; /* Adjust margin as needed */
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.note {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.note-divider {
  border: none;
  border-top: 1px solid #ccc; /* Adjust the color and style as needed */
  margin: 3px 0; /* Adjust the margin as needed */
}

.add-note-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.add-note-btn:hover {
  background-color: #0056b3;
}


